@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }


  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
html{
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;

}
.page-container {
  width: 1200px;
  background-color: #FFFFFF;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}
.main-header{
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
/*Block_navigation_left*/
.header-logo-link{
  display: flex;
}
.header-logo{
  margin-bottom: -10px;
  margin-left: 70px;
}
.navigation{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list-left{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left:28px;
  padding: 0;
  list-style-type: none;
  width:339px ;
  height: 64px;
}
.navigation-list-right{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 268px;
  margin-left: auto;
}
.navigation-list-right .navigation-link-2{
  min-width:18px ;
  min-height:17px ;
}
.navigation-link{
  display: block;
  padding:20px 16px ;
  font-family:"PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}
.navigation-link:hover{
  border-bottom: 2px solid #756257;
}
/*Block_navigation_right*/
.navigation-blok-2{
  margin-left:285px ;
  width: 268px;
  height: 64px;
}
.navigation-link-2{
  display: block;
  padding:22px 12px ;
  margin: 0;
  font-family:"PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}
.navigation-link-3{
  display: block;
  margin: 0;
  font-family:"PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}
.button-white{
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  border: none;
  cursor: pointer;
}
.button-brown:hover{
  background-color: #615048;
}
.button-brown:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-brown:focus-visible{
  background-color: #615048;
}
.button-brown:disabled{
  background-color: #E5E5E5
}
.navigation-button{
  padding: 0;
  margin-left:20px;
}
/*Main-index.html*/
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.main-container{
  flex-grow: 1;
}
.welcome{
  padding-top: 51px;
}
.welcome-logo{
  display: block;
  margin: 0 auto;
}
.main-index{
  background-position: absolute, absolute;
  color:#000000 ;
  background-color:#FFFFFF ;

}
.hero{
  background-image: url(../img/Vector-fon.svg),url(../img/index-background.jpg);
  background-position: bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
  width: 1200px;
  height: 485px;
  min-height: 485px;
}
.city-1{
  margin-top: 69px;
  margin-bottom:90px ;

}
.small-city{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/*ADVANTAGES*/
.advantages-title-white{
  width: 400px;
}
.advantages-picture-white{
  width: 400px;
}
.advantages-item-point-1{
  display: flex;
  justify-content: space-between;
  padding: 0 auto;
  background-color:#82B3D3 ;
  height: 384px;
}
.grid-1{
  width: 230px;
  height:181px ;
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  margin-bottom: 111px;
}
.grid-2{
  width: 230px;
  height: 181px;
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  margin-bottom: 111px;
  margin-left:85px ;
  margin-right:85px ;
}
.advantages-item{
  min-height:384px ;
  min-width: 400px;
}
.advantages-item-point-3{
  list-style-type: none;
  display: flex;
  padding: 0 auto;
  background-color:#82B3D3 ;
  height: 384px;
}
.advantages-item-point{
  width: 400px ;
  background-color:rgba(131, 179, 211, 0.12) ;
}
.advantages-item-point-white{
  background: rgba(131, 179, 211, 0.20);
  width: 400px;
}
.advantages-item-point-white-1{
  background: #FFFFFF;
  width: 400px;
}
.advantages-list{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.ADVANTAGES_point-2{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.gg{
  width: 230px;
  height: 160px;
  margin-top:103px ;
  margin-bottom:121px ;
  margin-left: 85px;
}
.advantages-main{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.advantages-title-white{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-block-start: 0em;
}
.advantages-title{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  text-align: center;
  margin-bottom: 60px;
  margin-left: 27.5px;
  position: relative;
}
.advantages-picture-white{
  color: #FFFFFF;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.advantages-picture{
  width: 230px;
  height: 42px;
  align-self: center;
  margin-top:30px ;
  text-align: center;
  color: #333333;
  margin-block-end: 0em;
}
.advantages-picture-2{
  width: 230px;
  height: 63px;
  margin-top:30px ;
  color: #333333;
}
.gg-2{
  margin-top: 92px;
  margin-bottom: 111px;
  width: 230px;
  height: 181px;
}
.advantages-title-white{
  margin-bottom: 62px;
}
/*recommendations*/
.recommendation-list{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.recommendation-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.recommendation-flex-1{
  margin-top: 80PX;
  margin-bottom: 81px;
}
.recommendation-flex-2{
  width: 230px;
  height: 223px;
  margin-left:85px ;
  margin-top: 78PX;
  margin-bottom: 81px;
}
.recommendation-flex-3{
  margin-top: 80PX;
  margin-bottom: 81px;
}
/*BLOCK-INTEREST*/
.interest-block{
  width: 592px;
  height: 214px;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 96px;
  margin-bottom: 96px;
}
.interest{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-block-start: 0em;
}
.interest-item{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-bottom: 54px;
}
.button-interest{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  width: 376px;
  height: 52px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  background-position: absolute;
  text-transform: uppercase;
  border:none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 108px;
}
/*sending mail*/
.mail{
  background-image: url(../img/Subscribe.jpg);
  width: 1200px;
  height: 414.86px;
}
.submit-text{
  width: 404px;
  height: 36.35px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color:  #000000;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 96px;
  margin-bottom: 20px;
  margin-left:398px ;
}
.submit-text-catalog{
  width: 404px;
  height: 36.35px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color:  #000000;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 96px;
  margin-bottom: 20px;
  margin-left: 140px;
}
.submit-item{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 54px;
  margin-block-start: 0em;

}
.mail-catalog{
  width: 684px;
  height: 414.86px;
  align-items: center;
  align-self: center;
  margin-bottom: 104px;
}
.subscribe{
  text-align: center;
}
.ss{
  text-align:center ;
  margin-bottom: 149px;
}
.button-blue{
  width: 232px;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  cursor: pointer;
  text-transform: uppercase;
}
.button-blue:hover{
  background-color: #68A2CA
}
.button-blue:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-blue:focus-visible{
  background-color: #68A2CA
}
.button-blue:disabled{
  background-color: #E5E5E5
}
.button-green:hover{
  background-color: #6C9E42
}
.button-green:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-green:focus-visible{
  background-color: #6C9E42
}
.button-green:disabled{
  background-color: #E5E5E5
}
/*FOOTER*/
.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}
.page-footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 45px 70px 35px 70px;
  min-width: 1060px;
  height: 50px;
  background-color: #FFFFFF;
}
.contact-list{
  display: flex;
  margin: auto 0;
  list-style-type: none;
  align-self: stretch;
  width: 142px;
  height: 50px;
  padding-left:0 ;
  align-items: center;

}
.footer-navigation .nav{
  color: #000000;
  font-family: inherit;
  display: block;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}
.contacts-phone{
  display: block;
  margin: auto 0;
  color: #000000;
  width: 720px;
  height: 50px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  margin-right: 42px;
  text-align: center;
  text-transform: uppercase;

}
/*Catalog.html*/
.main-container{
  color: #000000;
  background-color:#FFFFFF ;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
}
.catalog-information-item{
  list-style-type: none;
  margin-left: 28.5px;
}
.main-catalog-information{
  display: flex;
  margin: 0;
  padding: 0;
  width: 114px;
  height: 21px;
  margin-bottom: 40px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;

  gap: 10px;
}
.catalog-img{
  flex-wrap: wrap;
  font-family: inherit;
  background-color: #82B3D3;
  background-image: url(../img-catalog/Фильтр.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  min-width: 1200px;
  min-height: 412px;
  background-position: center;
  margin-bottom: 50px;
}
li{list-style-type: none;}
.Vector{
  margin-right: 10.8px;
  list-style-type: none;
}
.catalog-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  width: 494.4px;
  height: 78px;
  margin-top:35px ;
  margin-bottom: 8px;
}
.page-container-catalog{
  width: 1060px;
  margin:0 auto;
}
.range{
  width:287px ;
}
.catalog-information-link{
  font-size: 16px;
  color: #FFFFFF;
  text-align: left;
}
.main-footer-2{
  width: 150.43px;
  border: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 157px;
}
.Infrastructure{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

}
.Infrastructure-section{
  display: flex;
  margin-right:135px;
}
.Infrastructure-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.Infrastructure-item{
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.Infrastructure-item:last-child {
  margin-bottom: 0;
}
.Infrastructure-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 110px;
  min-width: 110px;
  padding-top: 32px;
}
.Infrastructure-main-list{
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 157px;
  width: 150.43px;
  margin-right: 70px;
}
.home-hotel{
  margin: 0;
  margin-left:70px ;
}
.Infrastructure-main-list-housing{
  width: 150.43px;
  border: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 157px;

}
.house-infrastructure-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 110px;
  min-height: 110px;
  padding-top: 32px;
}
.block-3{
  display: flex;
  margin: auto 0;
  padding: 0 ;
  width: 1060px;
  height: 49px;
  align-self: center;
  align-items: center;
  margin-bottom:40px ;

}
.block-4{
  width: 338px;
  height: 36px;
}
.select-control{
  margin-left: 200px;
  width:292px ;
  height: 49px;
  padding: 12px 20px;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: 'PT Sans';
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.select-control:hover{
  border: 2px solid #68A2CA;
  border-radius: 4px;
}
.select-control:focus{
  border: 2px solid #68A2CA;
  border-radius: 4px;
}
.select-control:active{
  border: 1px dashed #9747FF;
  border-radius: 5px;
}
.select-control:disabled{
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.3);
}
.mini-menu{
  display: flex;
  width: 160px;
  height: 48px;
  text-align: right
}
.button-item{
  padding: 14px 12px;
  margin-right: 8px ;
  align-items: center;
  border: 2px solid #E5E5E5;;
  border-radius: 4px;
  cursor: pointer;
}
.button-item:hover{
  border: 2px solid #000000;
  border-radius: 4px;
}
.button-item:focus{
  border: 2px solid #68A2CA;
  border-radius: 4px;
}
.button-item:active{
  border: 2px solid #000000;
  border-radius: 4px;
}
/*Cost*/
.min-price{
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
  color: #000000;
  width: 143px;
  height: 48px;
  background: #F2F2F2;
  border:none ;
  border-radius: 4px 0px 0px 4px;
  margin-right: 2px;
}
.max-price{
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
  color: #000000;
  width: 143px;
  height: 48px;
  background: #F2F2F2;
  border:none ;
  border-radius: 0px 4px 4px 0px;

}
.price-range {
  padding: 0;
  color: #000000;
  font-size: inherit;
  font-weight: 700;
  padding: 36px 20px ;
  margin-top: 48px;
}
.range {
  grid-row: 3/4;
  grid-column: 1/-1;
}
.search-filter-buttons{
  display: flex;
  flex-direction: column;
  margin-left:70px ;
}
.price{
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top:0;
  padding-bottom: 0;
  margin: 0;
  width: 288px;
  height: 160px;
  margin-right: 65px;
}
.price-range{
  position: absolute;
  border: 4px solid #FFFFFF;
  background: #FFFFFF;
  width:248px;
  display: grid;
  height:20px
}

.price-1{
  display: flex;
}
.Infrastructure-title-cost{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom:32px ;
}
.button-blue-catalog{
  background-color: #82B3D3;
  color: #FFFFFF;
  font-family: 'PT Sans';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  height: 36px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 32px;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 50px;
}
.button-blue-catalog:hover{
  background-color:#68A2CA ;
}
.button-blue-catalog:active{
  color:rgba(255, 255, 255, 0.3);
}
.button-blue-catalog:focus-visible{
  outline: 3px solid #83B3D3;
}
.button-transparent{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  background-color: transparent;
  height: 36px;
  padding: 8px 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'PT Sans'
}
.button-transparent:hover{
  color: #FFFFFF;
  opacity: 0.6;
}
.button-transparent:focus{
  outline: none;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px
}
.button-transparent:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-transparent:focus-visible{
  color: #FFFFFF;
  opacity: 0.1;
}
.button-transparent:disabled{
  color: #FFFFFF;
  opacity: 0.1;
}
.list-head{
  height: 36px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 6.5px;
}
/*Cost_select*/
.cheap{
  font-size: 18px;
  line-height: 21px;
}
.costly{
  font-size: 18px;
  line-height: 21px;
}
.popular{
  font-size: 18px;
  line-height: 21px;
}
/*Hotel-list*/
.hotel-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-left:20px;
  margin-top: 20px;

}
.hotel{
  width: 300px;
  height: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-left:20px;
  margin-top: 16px;
  margin-bottom:16px;
}
.photo{
  width:300px;
  height:212px;
  margin: 0;
  margin-top:20px ;
}
.hotel-class{
  display: flex;
  margin-left: 20px;
}
.hotel-1{
  width: 140px;
  height: 21px;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #333333;
  margin-top: 16px;
}
.hotel-cost{
  width: 140px;
  height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-left: 20px;
  text-align: right;
  margin-top: 16px;
}
.hotel-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.hotel-item{
  width: 340px;
  height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}
.hotel{
  margin: 0;
  margin-left: 20px;
  margin-top:16px ;
}
.brown-button-catalog{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color:#756157; ;
  padding: 8px 26px;
  margin-left: 20px;
  margin-right:20px ;
  cursor: pointer;
  border-radius: 4px;
}
.star{
  flex-direction: row;
  width: 140px;
  height: 37px;
  padding-top:10px ;
  margin-left:20px;
  align-items: center;
  align-self: stretch;

}
.rating{
  width: 95px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 22px 8px 23px ;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F2F2F2;
  text-align: center;
  margin-left:25px ;
  border-radius: 4px;
}
.rating-star{
  display: flex;
  margin-top:24px ;
}
.blue-button-catalog{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
}
.green-button-catalog{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  padding:8px 18px;
  cursor: pointer;
  border-radius: 4px;
}
/*numbering*/
.numbering{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 70px;
}
.numbering-link{
  display: block;
  box-sizing: border-box;
  padding: 11.36px 24.55px 12.64px 23.45px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 8px;
  color: white;
  border-radius: 4px;
  background-color:  #82B3D3;
}
.numbering-link-10{
  display: block;
  box-sizing: border-box;
  padding: 11.36px 18.55px 12.64px 18.45px ;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 8px;
  color: white;
  border-radius: 4px;
  background-color:  #82B3D3;
}
.numbering-link-blue:hover{
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box;
}
.numbering-link-blue:focus{
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box;
}
.numbering-link-blue:focus-visible{
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box
}
.numbering-link-blue:active{
  background-color: #82B3D3;
  color:rgba(255, 255, 255, 0.3);
}
.black{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color:#F2F2F2;
}
.numbering-item{
  margin-top: 80px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-mail{
  border: none;
  border-radius: 0px 4px 4px 0px;
}
.subscribe-input{
  width: 452px;
  min-height: 52px;
  box-sizing: border-box;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  border: none;
}
.contacts-phone:visited{
  opacity: 0,9;
}
.contacts-phone:hover{
  color:#756157;
}
.contacts-phone:active{
  color: rgba(117, 97, 87, 0.3);;
}
.contacts-phone:focus-visible{
  color:#756157;
}
.logo-academy{
  cursor: pointer;
  margin: auto;
}
.logo-academy:hover {
  fill: #756157;
}
.logo-academy:focus {
  fill: #756157;
}
.logo-academy:active {
  fill: #7561574D;
}
/*visually-hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}




/*Footer_2*/
.popover-content{
  position: fixed;
  top:0;
  left:0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}
.window{
  width: 717px;/**/
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  padding: 67px 70px 64px 70px;
  box-sizing: border-box;
  margin: auto auto;
  position: relative;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}
.window h2{
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.close_button{
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  top: 65px;
  right: 52px;
  background-color: rgb(242, 242, 242);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close_button:active .close-icon{
  fill: rgba(117, 97, 87, 0.3)
}

.close_button:hover{
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

.close_button:focus-visible{
  border: 3px solid rgb(131, 179, 211);
  background-color: rgb(230, 230, 230);
  box-sizing: border-box;
}
.icon:active{
opacity: 0,5;
}
.window-title{
  text-transform: uppercase;
  margin: 0;
  margin-bottom:69px;
}
.field{
  padding-top:12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 45px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
  outline: none;
}
.field:hover{
  background-color: rgb(230, 230, 230);
}
.arrival-input-wrapper:hover svg {
  opacity: 1;
  cursor: pointer;
}
.departure-input-wrapper:hover svg {
  opacity: 1;
  cursor: pointer;
}
.field:focus-visible{
  border: 2px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
}
.field:active{
  border: 2px solid rgba(0, 0, 0, 1);

  box-sizing: border-box;
}
.error-input-text{
  color: rgba(255, 87, 87, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-left:20px;
}
.message-input-text{
  margin-left:20px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}
.child-quantity{
  padding: 14px 10px 14px 10px;
  width: 31px;
  height: 48px;
  box-sizing: border-box;
  border: none;

}
.adults-container{
  display: flex;
  align-items: center;
}
.child-container{
  display: flex;
  align-items: center;
}
.adults-quantity{
  padding: 14px 10px 14px 10px;
  width: 31px;
  height: 48px;
  box-sizing: border-box;
  border: none;
}
.window label{
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  align-self: center;
}
.window input{
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
  border: none;
}
.date-input-wrapper{
  display: flex;
  flex-direction: column;
}
.people-container{
  display: flex;
  justify-content: space-between;
  width: 577px;
  margin-bottom: 48px;
}
.arrival-input-wrapper{
  display:grid;
  grid-template-columns: 137px 440px;
  grid-template-rows: 48px 21px;
  row-gap: 4px;
  position: relative;
}

.arrival-date-input{
  position: relative;
}

.sign-container{
  display: flex;
  cursor: pointer;

}
.date-input-wrapper{
  row-gap: 23px;
  margin-bottom: 23px;
}
.arrival-date-input-text{
  grid-area: 2/2/3/3;
}
.departure-input-wrapper{
  display:grid;
  grid-template-columns: 137px 440px;
  grid-template-rows: 48px 21px;
  row-gap: 4px;
  position: relative;
}

.date-of-departure-input-text{
  grid-area: 2/2/3/3;
}
.modal-search-button{
    border: none;
    border-radius: 10px;
    width: 577px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    font-family: inherit;
    color: rgb(255, 255, 255);
    line-height: 24px;
    text-transform: uppercase;
}
.adults-quantity{
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  outline: none;
  border: none;
}
.child-quantity{
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  outline: none;
  border: none;
}
.adults-quantity::-webkit-outer-spin-button,
.adults-quantity::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.child-quantity::-webkit-outer-spin-button,
.child-quantity::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.plus{
  width: 40px;
  height: 48px;
  background-color: rgb(242, 242, 242);
  border:none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus:hover{
  cursor: pointer;
}
.plus:hover .plus-svg{
  fill:rgb(0, 0, 0);
  fill-opacity: 1;
}
.minus{
  width: 40px;
  height: 48px;
  background-color: rgb(242, 242, 242);
  border:none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus-container{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minus-container{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.minus:focus .minus-container{
  outline: 3px solid rgba(130, 179, 211, 1);
}
.plus-button:focus .plus-container{
  outline: 3px solid rgba(130, 179, 211, 1);
}
.minus:hover .minus-svg{
  fill:rgb(0, 0, 0);
  fill-opacity: 1;
}

.minus:hover{
  cursor: pointer;
}
.child-tooltip{
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url(../images/tooltip-icon.svg);
  background-color: rgb(131, 179, 211);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 46px;
  outline: none;
  border:none;
  text-align: left;
}
.child-tooltip:hover{
  cursor: pointer;
}

.tooltip-hover{
  box-sizing: border-box;
  display: none;
  position: absolute;
  min-width: 256px;
  min-height: 143px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px 20px 18px 22px;
  font-family: inherit;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  top:41px;
  left:50%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}
.tooltip-hover::before{
  content: "";
  background-color: rgb(51, 51, 51);
  width: 19px;
  height:19px;
  position: absolute;
  transform: translateX(-50%) rotate(45deg) ;
  top:-6px;
  left:50%;

}
.child-tooltip:hover .tooltip-hover{
  display: block;
}

.child-label{
  margin-right: 10px;
}
.adults-label{
  margin-right: 46px;
}
.date-button{
  position: absolute;
  width: 20px;
  height: 20px;
  outline: none;
  right: 20px;
  padding: 0;
  top: 16px;
  margin: 0;
  border: none;
}
.arrival-input-wrapper svg{
  opacity: 0.5;

}
.departure-input-wrapper svg{
  opacity: 0.5;

}

.arrival-input-wrapper:hover .date-button{
  background-color:rgb(230, 230, 230);
}
.departure-input-wrapper:hover .date-button{
  background-color: rgb(230, 230, 230);
}

 .popover-content-close{
  display: none;
}
