@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }


  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
body{
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}
.main-header{
  background-color: #FFFFFF;
  color: #000000;
}
/*Block_navigation_left*/
.navigation-link{
  font-family:"PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}
/*Block_navigation_right*/
.button-white{
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
}
/*Main-index.html*/
.main-index{
  color:#000000 ;
  background-color:#FFFFFF ;
  background-image: url(../img/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.small-city{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
/*ADVANTAGES*/
.advantages-main{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.advantages-list{
  text-align: center;
}
.advantages-title-white{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}
.advantages-picture-white{
  color: #FFFFFF;
}
.advantages-picture{
  color: #333333;
}
/*recommendations*/
.recommendation-list{
  text-align: center;
}
.recommendation-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

}
/*BLOCK-INTEREST*/
.interest{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.interest-item{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
.button-interest{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  background-color: #756157;
}
/*sending mail*/
.mail{
  background-image: url(../img/Subscribe.jpg);
  width: 1200px;
  height: 414.86px;
}
.submit-text{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.submit-item{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button-blue{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}
/*FOOTER*/
.contacts-phone{
  font-size: 40px;
line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}





/*Catalog.html*/
.main-catalog{
  color: #000000;
  background-color:#FFFFFF ;
  background-image: url(../img-catalog/Фильтр.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.catalog-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}
.catalog-information-link{
  font-size: 16px;
  color: #FFFFFF;
}
.Infrastructure-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.Infrastructure-item{
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
/*Cost*/
.Infrastructure-title-cost{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.button-blue-catalog{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
}
.button-transparent{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.list-head{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
/*Cost_select*/
.cheap{
  font-size: 18px;
  line-height: 21px;
}
.costly{
  font-size: 18px;
  line-height: 21px;
}
.popular{
  font-size: 18px;
  line-height: 21px;
}
/*Hotel-list*/
.hotel-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.hotel-1{
  font-size: 18px;
  line-height: 21px;
}
.hotel-cost{
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}
.brown-button-catalog{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color:#756157; ;
}
.rating{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F2F2F2;
}
.blue-button-catalog{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}
.green-button-catalog{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7DB54F;
  text-decoration: none;
}
/*numbering*/
.numbering-link-black{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.numbering-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
